
.vscode/

# C++ / CMake
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
engine/*.exe
engine/*.cpp
target/

# Node / Angular
client/node_modules/
client/dist/
client/.angular/

client/dist
client/tmp
/out-tsc
/bazel-out

# Node
client/node_modules
client/npm-debug.log
client/yarn-error.log

# IDEs and editors
.idea/
.project
client/.classpath
.c9/
client/*.launch
client/.settings/
*.sublime-workspace

# Visual Studio Code
client/.vscode/*
client/!.vscode/settings.json
client/!.vscode/tasks.json
client/!.vscode/launch.json
client/!.vscode/extensions.json
client/.history/*

# Miscellaneous
client/.angular/cache
.sass-cache/
/connect.lock
client/coverage
client/libpeerconnection.log
client/testem.log
/typings

# System files
client/.DS_Store
client/Thumbs.db