 .table-container {
     display: flex;
     justify-self: center;
 }

 .table {
     border-collapse: collapse;
 }

 th,
 td {
     padding: 0.2rem 0.8rem;
     text-align: center;
 }

 th {
     font-size: 1.3rem;
     font-weight: 600;
 }

 .caption {
     font-size: 1.7rem;
     font-weight: 600;
    margin-bottom: 0.5rem;
 }

 .empty-row {
     text-align: center;
     font-size: 1.3rem;
     color: var(--color-text-light);
 }

 .table-body .table-row:nth-child(even) {
     background-color: var(--color-tertiary);
 }

 .table-body .table-row:nth-child(odd) {
     background-color: #fff;
 }

 /*

.table-body {

}
    



.order-id {

}

.side {

}

.quantity {

}

.price {

}

.status {

}

.time {

} */