<div class="table-container">
    <table class="table">
        <caption class="caption">Active Orders</caption>
        <thead>
            <tr class="table-row">
                <th class="order-id" scope="col">Id</th>
                <th class="side" scope="col">Side</th>
                <th class="quantity" scope="col">Quantity</th>
                <th class="price" scope="col">Price</th>
                <th class="status" scope="col">Status</th>
                <th class="time" scope="col">Time</th>
            </tr>
        </thead>
        <tbody class="table-body">
            @if (orders().length === 0) {
            <tr class="empty-row">
                <td colspan="6">No active orders</td>
            </tr>
            } 
            @else {
                @for (order of orders(); track $index) {
                    <tr class="table-row">
                        <td class="order-id">{{ order.orderId }}</td>
                        <td class="side">{{ order.side }}</td>
                        <td class="quantity">{{ order.quantity }}</td>
                        <td class="price">{{ order.price | price | number:'1.2-2' }}</td>
                        <td class="status">{{ order.status }}</td>
                        <td class="time">
                            <time [attr.datetime]=" order.timestamp | date:'yyyy-MM-ddTHH:mm'">
                                {{ order.timestamp | date:'HH:mm' }}
                            </time>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>