 .table-container {
    display: flex;
    justify-self: center;
     border: 0.1rem solid var(--color-border);
 }

 th,
 td {
     padding: 0.2rem 0.8rem;
     text-align: center;
 }

 th {
     font-size: 1.3rem;
     font-weight: 600;
 }

 .caption {
     font-size: 1.5rem;
     font-weight: 600;
 }

 .empty-row {
     text-align: center;
     font-size: 1.3rem;
     color: var(--color-text-light);
 }

 /*
.table {
    border: 0.1rem solid var(--color-border);
    }

.table-body {

}
    
    .table-row {
        border: 0.1rem solid var(--color-border);
    }



.order-id {

}

.side {

}

.quantity {

}

.price {

}

.status {

}

.time {

} */